<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.JustMock" publicKeyToken="721b6c5bc0326b3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2016.2.426.1" newVersion="2016.2.426.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>